
@{
    ViewBag.Title = "reporte";
}

<h2>reporte</h2>


@using (Html.BeginForm("Download", "Mail"))
{
    
      <button id = "submitButton" type = "submit" > Descargar Archivo plano </button >

} 

<script>   
    
    function mensaje()
    {
        setTimeout(function () { alert("Hello"); }, 3000);
        
    }
</script>