@{
    ViewBag.Title = "Acerca de nosotros";
}

    <div class="container text-center">
        <img src="~/Content/Upload/Nosotros.jpg" width="1200" height="400" alt="Nosotros" class="img-responsive"/>
    </div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
           
            <div class="panel panel-default">
                
                <div class="panel-body">
                    <div class="row">                        
                        <div class="col-lg-12 text-center">
                            <em>
                                <p>
                                    JumMarc es una asociación nacional de tiendas de retail, es un organismo que representa los intereses de las tiendas y sus
                                    trabajadores, se preocupa de mantener el abastecimiento nacional y mantener una buena relación con el
                                    consumidor.
                                </p>
                                <br />
                                <p>
                                    Dentro de sus funciones está el apoyo a la operación de las tiendas y sus canales de distribución, en una
                                    función orientada al servicio a la comunidad, con un visión de protección al medio ambiente, todo lo anterior
                                    procurando una excelencia en el servicio a los clientes.
                                </p>

                                <br />
                                <p>
                                    Desde el punto de vista legal, se preocupa de velar por el cumplimiento de las normas y participación ética y
                                    atender las inquietudes de proveedores y clientes.
                                </p>

                                <br />
                                <p>
                                    En su labor de ofrecer permanentemente los mejores productos a los consumidores estas empresas debe
                                    mantener una frecuencia en la circulación de los productos, es decir, comprar y vender sin que los productos
                                    estén almacenados más del tiempo necesario para asegurar su calidad.
                                </p>
                                </em>
</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

