@{
    ViewBag.Title = "Acerca de Nosotros";
}

<br />
<br />
<br />
<table style="background-color:#ffffff">
    <thead>
        <tr><td colspan="2" ><h2>@ViewBag.Title</h2><hr /></td></tr>
    </thead>
    <tbody>
        <tr>
            <td><img alt="Logo" src="~/Content/Upload/logo.jpg" width="100%"/></td>
            <td> 
                <p>
                    Asociación nacional de tiendas de retail,
                    es un organismo que representa los intereses de las tiendas y sus
                    trabajadores, se preocupa de mantener el abastecimiento nacional y 
                    mantener una buena relación con el consumidor.
                </p>
                <p>
                    Dentro de sus funciones está el apoyo a la operación
                    de las tiendas y sus canales de distribución, en una
                    función orientada al servicio a la comunidad, con un visión de 
                    protección al medio ambiente, todo lo anterior
                    procurando una excelencia en el servicio a los clientes.
                    Desde el punto de vista legal, se preocupa de velar por el 
                    cumplimiento de las normas y participación ética y
                    atender las inquietudes de proveedores y clientes.
                </p>
                <p>
                    Dentro de sus funciones está el apoyo a la operación de las tiendas y sus canales de distribución, en una
                    función orientada al servicio a la comunidad, con un visión de protección al medio ambiente, todo lo anterior
                    procurando una excelencia en el servicio a los clientes.
                    Desde el punto de vista legal, se preocupa de velar por el cumplimiento de las normas y participación ética y
                    atender las inquietudes de proveedores y clientes.
                </p>
                <p>
                    En su labor de ofrecer permanentemente los mejores productos a los consumidores estas empresas debe
                    mantener una frecuencia en la circulación de los productos, es decir, comprar y vender sin que los productos
                    estén almacenados más del tiempo necesario para asegurar su calidad.
                </p>
            </td>
        </tr>
    </tbody>
</table>

