@{
    ViewBag.Title = "Acerca de nosotros";
}
<div class="container">
    <div class="row">
        <div class="col-lg-push-2 col-lg-8 col-md-push-2 col-md-9 col-sm-12">
            <div class="text-center" style="margin-top:0%;">
                <img src="~/Content/Upload/Banner.jpg" alt="Banner" class="img-responsive" />
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading"><h2>Acerca de Nosotros</h2></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4 text-center">
                            <img alt="Logo Empresa" src="~/Content/Upload/logo.jpg" width="50%" class="img-rounded"/>
                        </div>
                        <div class="col-lg-8">
                            <p>
                                JumMarc es una asociación nacional de tiendas de retail, es un organismo que representa los intereses de las tiendas y sus
                                trabajadores, se preocupa de mantener el abastecimiento nacional y mantener una buena relación con el
                                consumidor.
                            </p>
                            <p>
                                Dentro de sus funciones está el apoyo a la operación de las tiendas y sus canales de distribución, en una
                                función orientada al servicio a la comunidad, con un visión de protección al medio ambiente, todo lo anterior
                                procurando una excelencia en el servicio a los clientes.
                            </p>
                            <p>
                                Desde el punto de vista legal, se preocupa de velar por el cumplimiento de las normas y participación ética y
                                atender las inquietudes de proveedores y clientes.
                            </p>
                            <p>
                                En su labor de ofrecer permanentemente los mejores productos a los consumidores estas empresas debe
                                mantener una frecuencia en la circulación de los productos, es decir, comprar y vender sin que los productos
                                estén almacenados más del tiempo necesario para asegurar su calidad.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

