@{
    ViewBag.Title = "Contacto";
}

<div class="container">
    <div class="row">
        <div class="col-lg-push-2 col-lg-8 col-md-push-2 col-md-9 col-sm-12">
            <div class="text-center" style="margin-top:0%; width:auto">
                <img src="~/Content/Upload/Banner.jpg" alt="Banner" class="img-responsive" />
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2>@ViewBag.Title.</h2>
                </div>
                <div class="panel-body">
                    <h4>Direccion:</h4>
                    <address style="margin-left:50px">
                        Vicuña Mackena 10101<br />
                        La florida<br />
                        <abbr title="Phone">Telefono:</abbr>
                        133-133-133
                    </address>
                    <h4>Para Mas Información:</h4>
                    <address style="margin-left:50px">
                    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">soporte@misofertas.cl</a><br />
                    <strong>Contacto:</strong> <a href="mailto:Marketing@example.com">contacto@misofertas.cl</a>
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>

